// Utility

.container {
    margin: 0 auto;
    max-width: 75rem;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

// Clears

.no-b-m {
    margin-bottom: 0;
}

//colors {

.gray-text {
    color: $gray;
}